.tablet {
  padding-right: 70px;

  &::after {
    width: 35px;
    height: 35px;
    right: 14px;
  }

  &__play-button {
    width: 120px;
    height: 120px;

    &__icon {
      width: 33px;
      height: 35px;
      left: 49px;
    }
  }
}