//Colors
$blueDeepColor: #161926;
$blueDeepTransparentColor: rgba(22, 25, 38, .9);
$blueColor: #689FF2;
$blueTransparentColor: rgb(104, 159, 242, .3);
$greenSpringColor: #85BBB1;
$greenNeonColor: #53F3CD;
$greenNeonDarkColor: #02E0AB;
$grayDarkColor: #515773;
$whiteColor: #fff;

//Fonts
$latoFont: 'Lato', 'Tahoma', sans-serif;
$playfairFont: 'Playfair Display', 'Georgia', serif;