.footer {
  .container {
    flex-direction: row;
    justify-content: space-between;

    &>*:not(:first-child) {
      margin-bottom: 0;
    }

    &>*:first-child,
    &>*:not(:last-child) {
      margin: 0 30px 0 0;
    }
  }

  &__nav {
    flex-direction: row;
    flex-wrap: wrap;

    &__item {
      &:not(:last-of-type) {
        margin: 0 30px 0 0;
      }
    }
  }
}