.contacts {
  margin-bottom: 100px;

  .container {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
  }

  .text-wrapper {
    max-width: 470px;
    padding-top: 21px;
    margin-bottom: 100px;
  }

  .title {
    line-height: 1;
    margin-bottom: 28px;
  }

  .contact-form {
    max-width: 470px;
    width: 100%;
    display: flex;
    flex-direction: column;

    input[type="text"],
    input[type="email"] {
      height: 32px;
      padding-bottom: 12px;
      background-color: $blueDeepColor;
      border-width: 0 0 1px 0;
      border-color: rgba(255, 255, 255, .1);
      font-family: $playfairFont;
      font-style: italic;
      font-weight: 400;
      font-size: 18px;
      line-height: 20px;
      letter-spacing: 0.08em;
      color: $whiteColor;
      opacity: .8;
      margin-bottom: 40px;
      transition: all .2s ease;

      &::placeholder {
        color: $whiteColor;
        opacity: .5;
      }

      &:focus-visible {
        outline: none;
        border-color: $whiteColor;
      }
    }

    button {
      background-color: transparent;
      border: none;
      width: 173px;
      padding: 0;
    }
  }
}