.footer {
  .container {
    min-height: 86px;
    padding: 30px 15px;
    display: flex;
    flex-direction: column;

    *:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  p {
    font-size: 14px;
    line-height: 1;
    opacity: 0.6;
  }

  .text-with-link {
    opacity: 1;

    span {
      opacity: 0.6;
      margin-right: 12px !important;
    }
  }

  a {
    font-family: $latoFont;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.08em;
    color: $whiteColor;
    text-decoration: none;
    opacity: 1;
    transition: all .15s ease;

    &:hover,
    &:focus {
      color: $greenNeonColor;
    }
  }
}