* {
  box-sizing: border-box;
  line-height: 1;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  background-image: url('../img/bg.jpg');
  background-repeat: no-repeat;
  background-position: top right 35%;
  background-color: $blueDeepColor;
}

p {
  font-family: $latoFont;
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  line-height: 26px;
  color: $whiteColor;
  opacity: 0.8;
}

.title {
  font-family: $playfairFont;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  color: $whiteColor;
}

i {
  font-style: italic;
  color: $blueColor;
}

section {
  margin-bottom: 120px;
}

.cta-button {
  display: inline-flex;
  font-family: $latoFont;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: $greenNeonColor;
  text-decoration: none;
  position: relative;
  transition: all .15s ease;

  &::after {
    content: '';
    width: 100%;
    height: 13px;
    background-color: $greenNeonColor;
    opacity: 0.3;
    position: absolute;
    left: 10px;
    bottom: -4px;
    transition: all .15s ease;
  }

  &:hover,
  &:focus {
    color: $greenNeonDarkColor;

    &::after {
      background-color: $greenNeonDarkColor;
    }
  }
}

.no-scroll {
  overflow-y: hidden;
}

img {
  width: 100%;
}