.hero {
  margin: 0;

  .container {
    padding: 156px 15px;
  }

  .text-wrapper {
    max-width: 524px;
  }

  .title {
    margin-bottom: 20px;

    &+p {
      margin-bottom: 50px;
      padding-right: 85px;
    }
  }
}