.info {
  .text-wrapper {
    p {
      &:not(:last-of-type) {
        margin-bottom: 30px;
      }

      &:last-of-type {
        margin-bottom: 50px;
      }
    }
  }
}

.numbers {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  max-width: 370px;
  width: 100%;
  flex-shrink: 0;

  &__item {
    position: relative;

    &:not(:last-of-type) {
      margin-bottom: 82px;

      &::after {
        content: '';
        width: 100px;
        height: 1px;
        background-color: $blueColor;
        position: absolute;
        bottom: -41px;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    &:last-of-type {
      margin-bottom: 40px;
    }
  }

  .number {
    font-family: $playfairFont;
    font-weight: 400;
    font-size: 68px;
    line-height: 1;
    opacity: 100;
    margin-bottom: 14px;

    span {
      font-size: 40px;
    }
  }
}